.dashboard-buttons {
  display: flex;
  gap: 10px;
  margin: 20px;
  justify-content: center;
}

.dashboard-buttons button {
  background-color: white;
  color: black;
  padding: 10px 20px;
  border: 2px solid black;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.dashboard-buttons button:hover {
  background-color: black;
  color: white;
}

.dashboard-buttons button:active {
  background-color: black;
  color: white;
}
