.table-container {
  margin: 40px auto;
  max-width: 1000px;
  padding: 20px;
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0,0,0,0.08);
}
.table-container h1{
  text-align: center;
  margin-bottom: 20px;
  color: #333;
  font-size: 24px;
}

.food-table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fcfcfc;
}

.food-table th,
.food-table td {
  padding: 12px 15px;
  border: 1px solid #e0e0e0;
  text-align: center;
  color: #444;
}

.food-table th {
  background-color: #ef6666;
  font-weight: 600;
  color: #ffffff;
}

.food-table tr:nth-child(even) {
  background-color: #f7f9fa;
}

.food-table tr:hover {
  background-color: #eb65568c;
}

.food-img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 6px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

.edit-btn,
.delete-btn {
  padding: 6px 12px;
  margin: 0 4px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
  transition: background-color 0.3s ease;
}

.edit-btn {
  background-color: #333;
  color: white;
}

.delete-btn {
  background-color: #e74c3c;
  color: white;
}

.edit-btn:hover {
  background-color: #333;
}

.delete-btn:hover {
  background-color: #c0392b;
}